mixin productCard(image, title, fullStarSvg, halfStarSvg, fullStarsCount, halfStarsCount, ratingText, price, originalPrice, discount, cardHeight='300px')
  a(href='productDetails.html')  
    .product-card
      img(src=image alt=title style=`height: ${cardHeight};`)
      .product-info
        h3= title
        .rating
          each val in Array(fullStarsCount)
            img(src=fullStarSvg alt='full star')
          
          each val in Array(halfStarsCount)
            img(src=halfStarSvg alt='half star')
          
          span= ratingText

        .pricing-info
          .current-price= price
          if originalPrice
            .original-price
              span= originalPrice
          if discount
            .discount
              span= `-${discount}%`


mixin reviewCard(fullStarCount, halfStarCount, name, comment)
  .review-card
    .star-rating
        each val in Array(fullStarCount)
          img(src='./assets/home/icons/full-rate-star.svg' alt='full star')

        each val in Array(halfStarCount)
          img(src='./assets/home/icons/half-rate-star.svg' alt='half star')

    .customer-info
      .customer-name #{name}
      img(src='./assets/home/icons/green-tick.svg' alt='green tick')
      
    .comment "#{comment}"

